In [1]:
import pandas as pd

In [2]:
table = pd.DataFrame(index=['Bowl 1', 'Bowl 2'])

In [3]:
table['prior'] = 1/2, 1/2

In [4]:
table

        prior
Bowl 1    0.5
Bowl 2    0.5

In [5]:
table['likelihood'] = 3/4, 1/2

In [6]:
table

        prior  likelihood
Bowl 1    0.5        0.75
Bowl 2    0.5        0.50

In [7]:
table['unnorm'] = table['prior'] * table['likelihood']

In [8]:
table

        prior  likelihood  unnorm
Bowl 1    0.5        0.75   0.375
Bowl 2    0.5        0.50   0.250

In [10]:
prob_data = table['unnorm'].sum()
prob_data

0.625

In [11]:
table['posterior'] = table['unnorm'] / prob_data

In [12]:
table

        prior  likelihood  unnorm  posterior
Bowl 1    0.5        0.75   0.375        0.6
Bowl 2    0.5        0.50   0.250        0.4

In [24]:
table2 = pd.DataFrame(index=[6,8,12])

In [25]:
table2['prior'] = 1/3, 1/3, 1/3

In [26]:
table2['likelihood'] = 1/6, 1/8, 1/12

In [19]:
table2['unnorm'] = table2['prior'] * table2['likelihood']

In [20]:
prob_data2 = table2['unnorm'].sum()

In [21]:
table2['posterior'] = table2['unnorm'] / prob_data2

In [22]:
table2

       prior  likelihood    unnorm  posterior
6   0.333333    0.166667  0.055556   0.444444
8   0.333333    0.125000  0.041667   0.333333
12  0.333333    0.083333  0.027778   0.222222

In [2]:
def update(table):
    table['unnorm'] = table['prior'] * table['likelihood']
    prob_data = table['unnorm'].sum()
    table['posterior'] = table['unnorm'] / prob_data

In [27]:
table2

       prior  likelihood
6   0.333333    0.166667
8   0.333333    0.125000
12  0.333333    0.083333

In [28]:
update(table2)

In [29]:
table2

       prior  likelihood    unnorm  posterior
6   0.333333    0.166667  0.055556   0.444444
8   0.333333    0.125000  0.041667   0.333333
12  0.333333    0.083333  0.027778   0.222222

In [35]:
monty_table = pd.DataFrame(index=['d1', 'd2', 'd3'])

In [3]:
from fractions import Fraction

In [42]:
monty_table['prior'] = Fraction(1,3)

In [43]:
monty_table['likelihood'] = Fraction(1,2), 1, 0

In [44]:
update(monty_table)

In [45]:
monty_table

   prior likelihood unnorm posterior
d1   1/3        1/2    1/6       1/3
d2   1/3          1    1/3       2/3
d3   1/3          0      0         0

In [46]:
coin = pd.DataFrame(index=['norm', 'trick'])

In [47]:
coin['prior'] = Fraction(1,2)

In [48]:
coin['likelihood'] = Fraction(1,2), 1

In [49]:
update(coin)

In [50]:
coin

      prior likelihood unnorm posterior
norm    1/2        1/2    1/4       1/3
trick   1/2          1    1/2       2/3

In [4]:
child = pd.DataFrame(index=['boyboy', 'boygirl', 'girlboy', 'girlgirl'])

In [5]:
child['prior'] = Fraction(1/4)

In [6]:
child['likelihood'] = 0, Fraction(1,2), Fraction(1,2), Fraction(1,2)

In [7]:
update(child)

In [8]:
child

         prior likelihood unnorm posterior
boyboy     1/4          0      0         0
boygirl    1/4        1/2    1/8       1/3
girlboy    1/4        1/2    1/8       1/3
girlgirl   1/4        1/2    1/8       1/3

In [9]:
door2 = pd.DataFrame(index= ['d1', 'd2', 'd3'])

In [10]:
door2['prior'] = Fraction(1,3)

In [11]:
door2['likelihood'] = Fraction(1,2), 0, Fraction(1,2)

In [12]:
update(door2)

In [13]:
door2

   prior likelihood unnorm posterior
d1   1/3        1/2    1/6       1/2
d2   1/3          0      0         0
d3   1/3        1/2    1/6       1/2

In [14]:
door2a = pd.DataFrame(index= ['d1', 'd2', 'd3'])

In [15]:
door2a['prior'] = Fraction(1,3)

In [16]:
door2a['likelihood'] = Fraction(1,2), 1, 0

In [17]:
update(door2a)

In [18]:
door2a

   prior likelihood unnorm posterior
d1   1/3        1/2    1/6       1/3
d2   1/3          1    1/3       2/3
d3   1/3          0      0         0

In [27]:
mms = pd.DataFrame(index= ['bag1', 'bag2'])

In [28]:
mms['prior'] = Fraction(1,2)

In [29]:
mms

     prior
bag1   1/2
bag2   1/2

In [36]:
'''
likelihood is probability of a given scenario within
an exhaustive set of scenarios. in this case, we have
one mm from each bag, one yellow and one green. The
possible scenarios are that the yellow came from the
1994 bag (20 percent) and the green came from 1996
(also, 20 percent), for a combined probability of 4 
percent OR green from bag1 (0.1), yellow from bag2 (0.14).
'''

mms['likelihood'] = 0.2 * 0.2, 0.14 * 0.1

In [37]:
update(mms)

In [38]:
mms

     prior  likelihood unnorm posterior
bag1   1/2       0.040   0.02  0.740741
bag2   1/2       0.014  0.007  0.259259