Probability Mass Functions

can describe discrete outcomes of a distribution

In [2]:
from empiricaldist import Pmf

In [6]:
coin = Pmf()
coin['heads'] = 1/2
coin['tails'] = 1/2
coin

heads    0.5
tails    0.5
Name: , dtype: float64

In [7]:
die = Pmf.from_seq([1, 2, 3, 4, 5, 6])
die

1    0.166667
2    0.166667
3    0.166667
4    0.166667
5    0.166667
6    0.166667
Name: , dtype: float64

In [8]:
letters = Pmf.from_seq(list('Mississippi'))
letters

M    0.090909
i    0.363636
p    0.181818
s    0.363636
Name: , dtype: float64

In [9]:
letters['s']

0.36363636363636365

In [10]:
letters('s')

0.36363636363636365

In [11]:
letters['t']

KeyError: 't'

In [12]:
letters('t')

0

In [14]:
letters(['s', 'i', 't'])

array([0.36363636, 0.36363636, 0.        ])

In [18]:
letters['s', 'i']

KeyError: 'key of type tuple not found and not a MultiIndex'

In [21]:
prior = Pmf.from_seq(['b1', 'b2'])

In [22]:
prior

b1    0.5
b2    0.5
Name: , dtype: float64

In [23]:
# rehash of cookie problem
lv = [0.75, 0.5] # lv = likelihood of a vanilla cookie

In [45]:
unnorm = prior * lv # unnormalized posterior just equals the prior times the likelihood
unnorm

b1    0.375
b2    0.250
Name: , dtype: float64

In [46]:
prob_data = unnorm.sum()

In [47]:
prob_data

0.625

In [48]:
unnorm = unnorm / prob_data
unnorm

b1    0.6
b2    0.4
Name: , dtype: float64

In [50]:
unnorm = prior * lv # unnormalized posterior just equals the prior times the likelihood
unnorm

b1    0.375
b2    0.250
Name: , dtype: float64

In [51]:
posterior = unnorm.normalize() # returns total probability of data just like unnorm.sum() 
posterior

0.625

In [52]:
unnorm # but .normalize() also updates the value on the table
       # to the normalized posterior at the same time, so we
       # now have the posterior distribution

b1    0.6
b2    0.4
Name: , dtype: float64

In [53]:
posterior = unnorm
posterior

In [55]:
posterior('b1')

0.6

In [56]:
posterior *= lv # simulates the updated posterior after returning the cookie and drawing again from same bowl

In [57]:
posterior

b1    0.45
b2    0.20
Name: , dtype: float64

In [58]:
posterior.normalize()
posterior

b1    0.692308
b2    0.307692
Name: , dtype: float64

In [59]:
lc = [0.25, 0.5] # similarly, a posterior update for replacement from a chocolate cookie
posterior *= lc
posterior.normalize()
posterior

b1    0.529412
b2    0.470588
Name: , dtype: float64

another scenario:
101 bowls with progressively more vanilla cookies starting at 0% vanilla and moving up to 99% vanilla, one bowl at a time

In [61]:
import numpy as np
hypos = np.arange(101)

In [62]:
prior = Pmf(1, hypos)
prior

0      1
1      1
2      1
3      1
4      1
      ..
96     1
97     1
98     1
99     1
100    1
Name: , Length: 101, dtype: int64

In [63]:
prior.normalize()

101

In [64]:
lv = hypos/100

In [67]:
lv[:5]

array([0.  , 0.01, 0.02, 0.03, 0.04])

In [68]:
posterior1 = prior * lv

In [71]:
posterior1.normalize()
posterior1

0      0.000000
1      0.000198
2      0.000396
3      0.000594
4      0.000792
         ...
96     0.019010
97     0.019208
98     0.019406
99     0.019604
100    0.019802
Name: , Length: 101, dtype: float64